<p>Assigned Story:-</p>
{% for assignee,each in result %}

    <div class="col-sm-1" style="margin:5px;background-color:#bce8f1 ">Name</div>
    <div class="col-sm-3" style="margin:5px; background-color:#f2dede ">{{ assignee.first_name }}</div>
    <div class="col-sm-2" style="margin:5px; background-color:#bce8f1 ">Email-Id</div>
    <div class="col-sm-3" style="margin:5px; background-color:#f2dede ">{{ assignee.email }}</div>
    <table class="table table-striped">
            <tr>
                <td>
                   <b> Story</b>
                </td>
                <td>
                    <b>No of story</b>
                </td>
                <td>
                    <b>total estimate</b>
                </td>
            </tr>



    {% for each1 in each %}
        <tr>
            <td>{{each1.status}}</td>
            <td>{{each1.d}}</td>
            <td>{{each1.d1}}
        </tr>
    {% endfor %}
    </table>
{% endfor %}
<p>Unassigned Story :-</p>
<table class="table table-striped">
            <tr>
                <td>
                   <b> Story</b>
                </td>
                <td>
                    <b>No of story</b>
                </td>
                <td>
                    <b>total estimate</b>
                </td>
            </tr>
            <tr>
                <td>
                    Unassigned
                </td>
                <td>
                    {{count_story}}
                </td>
                <td>
                    {{count_estimate.estimate__sum}}
                </td>
            </tr>
    </table>