<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    {{ form }}


    <!--Emailaddress:-->
<!--<input type="email" name="email address">-->
<!--<br>-->
<!--password:<br>-->
<!--<input type="password" name="password">-->
    <!--First name:-->
<!--<input type="text" name="first name">-->
<!--<br>-->
<!--Last name:-->
<!--<input type="text" name="last name">-->
    <!--DOB:-->
    <!--<input type="date" name="date of birth">-->
    <input type="submit" value="Create" />
</form>
</body>
</html>