{% extends "issue_models/base.html" %}
{% block content %}
    <h2>
        <a href="{% url 'logout' %}">logout</a>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'profile' %}">profile</a>
    </h2>
    <h2>
        {% if user.photo %}
            <img src="{{MEDIA_URL}}{{user.photo}}" width="80px" height="80px"/>
        {% else %}
            <img src="/media/images/Facebook-Blank-Photo1.jpg" width="80px" height="80px"/>
        {% endif %}

    </h2>
    <form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        Emailaddress : <input type="text" value="{{user.email}}" disabled>

        {{ form.as_p }}

        <input type="submit" value="Update" name="form1" />
    </form>

    <form action="{% url 'update_profile' %}" method="post">
        {% csrf_token %}
            {{form2.old_password.label_tag}}{{form2.old_password}}
            {{ form2.old_password.errors }}
            <p> {{form2.new_password1.label_tag}}{{form2.new_password1}}{{ form2.new_password1.errors }} </p>
            <p>{{form2.new_password2.label_tag}}{{form2.new_password2}}{{ form2.new_password2.errors }}</p>
        <input type="submit" name="form2" value="change_password" />
    </form>
{%endblock%}