{% extends "issue_models/base.html" %}
{% block content %}
<h2>
<div class="nav_bar clearfix">

    <div class="nav_bar_button"><a href="{% url 'dashboard' %}">Dashboard</a></div>
    <div class="nav_bar_button"><a href=" {%url 'update_profile' %}"> update profile </a></div>
    <div class="nav_bar_button">    <a href="{% url 'logout' %}">logout</a></div>
</div>
</h2>

    <h2>   Emailaddress :{{ user.email}}
        <p>first name :{{user.first_name}}</p>
        <p>last name  : {{user.last_name}}</p>
        <p>date of birth: {{user.dob}}</p>
        {% if user.photo %}
            <img src="{{MEDIA_URL}}{{user.photo}}" width="80px" height="80px"/>
        {% else %}
            <img src="/media/images/Facebook-Blank-Photo1.jpg" width="80px" height="80px"/>
        {% endif %}


        </h2>
{%endblock%}