{% extends "issue_models/base.html" %}
{% block content %}
<h2><a href="{% url 'logout' %}">logout</a>
    <a href="{% url 'dashboard' %}">Dashboard</a>
{% if object.project_manager == user %}
        <a href="{% url 'updateproject' object.id %}">update project</a>
{% endif %}
<a href="{% url 'addstory' object.id %}">Addstory</a>
</h2>

    <h2><p>manager name :{{object.project_manager}}</p>
    <p>project name :{{object.project_title}}</p>
    <p>Description : {{ object.description}}</p>

    </h2>
     <h2></h2>
    <h1>Story</h1>
    <h2>Scheduled</h2>
    <h2>
        {% for story in started %}
            <li><a href="{% url 'storyview' story.id %}"> {{story.story_title}}</a></li>
        {% endfor %}
        {% for story in unstarted %}
            <li><a href="{% url 'storyview' story.id %}">{{story.story_title}}</a></li>
        {% endfor %}
    </h2>
    <h2>UnScheduled</h2>
    <h2>{% for story in unsch_story %}
    <li><a href="{% url 'storyview' story.id %}">{{story.story_title}}</a></li>
    {% endfor %}
    </h2>
{%endblock%}