{% extends "issue_models/base.html" %}

{% block content %}
<h2><a href="{% url 'logout' %}">logout</a>
    <a href="{% url 'dashboard' %}">Dashboard</a>
{% if object.project_manager == user %}
        <a href="{% url 'updateproject' object.id %}">update project</a>
{% endif %}
<a href="{% url 'addstory' object.id %}">Addstory</a>
</h2>

<h3>
    Search
    <form method="get">
        <input type="hidden" id="project_id" value={{object.id}}>
        <input type="text" id="search" name="search" />
        <input type="submit" value="search" id="search-button" />
        <input type="submit" value="clear" id="clear-button"/>
    </form>
    <ul id="search-results">

    </ul>
</h3>

    <h2><p>manager name :{{object.project_manager}}</p>
    <p>project name :{{object.project_title}}</p>
    <p>Description : {{ object.description}}</p>

    </h2>
     <h2></h2>
    <h1>Story</h1>
    <h2>Scheduled</h2>
    <table border="1">
        <h2>
            <tr>
                <td>Strory Title</td>
                <td>Assignee</td>
                <td>Estimate(in hrs)</td>
            </tr>

        {% for story in started %}
            <tr>
                <td><a href="{% url 'storyview' story.id %}"> {{story.story_title}}</a></td>
                <td>{{story.assignee}}</td>
                <td>{{story.estimate}}</td>
            </tr>
        {% endfor %}
        {% for story in unstarted %}
            <tr>
                <td><a href="{% url 'storyview' story.id %}"> {{story.story_title}}</a></td>
                <td>{{story.assignee}}</td>
                <td>{{story.estimate}}</td>
            </tr>
        {% endfor %}
        </h2>
    </table>
    <h2>UnScheduled</h2>

    <table border="1">
        <h2>
            <tr>
                <td>Strory Title</td>
                <td>Assignee</td>
                <td>Estimate(in hrs)</td>
            </tr>

        {% for story in unsch_story %}
            <tr>
                <td><a href="{% url 'storyview' story.id %}"> {{story.story_title}}</a></td>
                <td>{{story.assignee}}</td>
                <td>{{story.estimate}}</td>
            </tr>
        {% endfor %}
    </h2>
{%endblock%}