{% extends "issue_models/base.html" %}
{% block content %}
<h2>
    <div class="nav_bar clearfix">
        <div class="nav_bar_button"><a href="{% url 'logout' %}">logout</a></div>
        <div class="nav_bar_button"><a href="{% url 'dashboard' %}">Dashboard</a></div>
        <div class="nav_bar_button"><a href="{% url 'storyview' object.id %}">storys</a></div>
    </div>
</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create" />
    </form>
{% endblock %}