{% extends "issue_models/base.html" %}
{% block content %}

<h2>
    <p>storytitle : {{object.storytitle}}</p>
    <p>description : {{object.description}}</p>
    <p>assignee:{{object.assignee}}</p>
    <p>estimate: {{object.estimate}}</p>
    <p>scheduled: {{object.scheduled}}</p>
    <p>status: {{object.status}}</p>
    {% if object.status != "deliv" %} <a href="{% url 'updatestory' object.id %}"> update</a>{% endif %}
    <a href = "{% url 'storydelete' object.id %}"> delete</a>
</h2>
{% endblock %}