{% extends "issue_models/base.html" %}
{% block content %}
<h2><a href="{% url 'logout' %}">logout</a>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'project' object.project_title.id%}">project</a>
</h2>
<h2>
    <p>storytitle : {{object.story_title}}</p>
    <p>description : {{object.description}}</p>
    <p>assignee:{{object.assignee}}</p>
    <p>estimate: {{object.estimate}}</p>
    <p>scheduled: {{object.scheduled}}</p>
    <p>status: {{object.status}}</p>
    {% if object.status != "deliv" %} <a href="{% url 'updatestory' object.id %}"> update</a>{% endif %}
    <a href = "{% url 'storydelete' object.id %}"> delete</a>
</h2>
{% endblock %}